RunParallerAthenaQuery.json
{
  "StartAt": "PassState",
  "States": {
    "PassState": {
      "Type": "Pass",
      "Result": [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12
      ],
      "ResultPath": "$",
      "Next": "MapState"
    },
    "MapState": {
      "Type": "Map",
      "ItemsPath": "$",
      "Parameters": {
        "input.$": "$$.Map.Item.Value"
      },
      "ResultPath": "$",
      "MaxConcurrency": 0,
      "Iterator": {
        "StartAt": "InvokeLambda",
        "States": {
          "InvokeLambda": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:218067593328:function:HelloWorld",
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "ResultPath": "$.error",
                "Next": "ErrorHandling"
              }
            ],
            "Next": "Success"
          },
          "Success": {
            "Type": "Pass",
            "End": true
          },
          "ErrorHandling": {
            "Type": "Fail",
            "Cause": "LambdaInvocationError",
            "Error": "LambdaInvocationError"
          }
        }
      },
      "End": true
    }
  }
}
